:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
            to right,
            #baf3d7,
            #c2f5de,
            #cbf7e4,
            #d4f8ea,
            #ddfaef
    );
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

#menu-togle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

.hideNav:hover {
    color: #9d9000 !important;
    font-size: 1.2rem;
}

.navHover:hover {
    color: #03a293 !important;
    font-size: 1.2rem !important;
}

.logout:hover {
    color: #ff0000 !important;
    font-size: 1.2rem !important;
}

table {
    box-shadow: 1px 4px 14px 1px rgba(0, 0, 0, 0.2) !important;
}

table > tbody > tr:nth-child(odd) {
    background-color: #cce5d0;
}

table > tbody > tr:hover {
    background-color: #009d63 !important;
    cursor: pointer;
}

.cusIcon {
    background-color: #f3c5aa;
    color: #da6800;
}

.salIcon {
    background-color: #fcfcce;
    color: #dad600;
}

.increIcon {
    background-color: #f5c9c9;
    color: #e50000;
}

.txtIncrease {
    color: #e50000;
}

.txtCustomers {
    color: #da6800;
}

.txtSales {
    color: #dad600;
}

.txtProducts {
    color: #009D63FF;
}

.myCustxt {
    width: 420px !important;

}

.txtCus {
    position: relative;
    top: 50px;
    left: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;

}

.txtColour {
    background-color: #31dfa3 !important;
    font-weight: bold !important;
}

.btnCusGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    top: 60px;

    width: 97.5%;
    gap: 25px;
}

.btnDel:hover .fa-trash {
    color: white !important;
}

.btnUpd:hover .fa-pencil {
    color: #000000 !important;
}

.btnAdd:hover .fa-plus {
    color: white !important;
}

.cusTable {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.active > .page-link {
    background-color: #009D63FF !important;
    border: #009D63FF;
}


@media all and (min-width: 1200px) {

}

@media (min-width: 991px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/*@media all and (max-width: 850px) {
    .dataTables_wrapper {
        max-width: 100%;
        margin: 0 auto;
    }

    .dataTables_scrollHeadInner {
        padding-right: 0;
    }

    .dataTables_scrollBody {
        max-width: 100%;
    }

    .dataTables_scrollFootInner {
        padding-right: 0;
    }

    .dataTables_filter input {
        width: 100%;
    }

    .dataTables_length select {
        width: 100%;
    }

}*/


@media all and (max-width: 575px) {
    .myCustxt {
        width: 300px !important;


    }

    .txtColour {
        font-size: 0.9rem !important;


    }

    .txtCus {
        left: 3%;
        right: unset;
        width: 90%;
    }

}

@media all and (max-width: 425px) {

    tr, th {
        font-size: 0.8rem !important;
    }

    .btnCusGroup {
        width: 89%;
        left: 5%;
        flex-direction: column;

    }

    .cusTable {
        padding-left: 0;
        padding-right: 0;
    }


}

@media all and (max-width: 320px) {
    ul li a {
        padding: 5px !important;
    }

    th, td {
        padding: 3px !important;
    }

    tr, th {
        font-size: 0.7rem !important;
    }
}
