:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
            to right,
            #baf3d7,
            #c2f5de,
            #cbf7e4,
            #d4f8ea,
            #ddfaef
    );
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

.navHover:hover{
    color: #03a293 !important;
    font-size: 1.2rem !important;
}
.logout:hover{
    color: #ff0000 !important;
    font-size: 1.2rem !important;
}

table {
    box-shadow: 1px 4px 14px 1px rgba(0, 0, 0, 0.2) !important;
}

table>tbody>tr:nth-child(odd) {
    background-color: #cce5d0;
}

table>tbody>tr:hover {
    background-color: #009d63 !important;
    cursor: pointer;
}
.cusIcon{
    background-color: #f3c5aa;
    color: #da6800;
}
.salIcon{
    background-color: #fcfcce;
    color: #dad600;
}
.increIcon{
    background-color: #f5c9c9;
    color: #e50000;
}
.txtIncrease{
    color: #e50000;
}
.txtCustomers{
    color: #da6800;
}
.txtSales{
    color: #dad600;
}
.txtProducts{
    color: #009D63FF;
}

@media all and (min-width: 1200px) {

}

@media (min-width: 991px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
@media all and (max-width: 425px){
    tr,th{
        font-size: 0.6rem !important;
    }
}
